---
layout: default 
permalink: /blog/
---
<div class="" style="margin-top:20px;">
      
      
      
      
             {% for post in site.posts %}
       <div class="scroll-1 blog">
       <div class="container-fluid card {{ site.css }} z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-1" style="{% if post.cover %}background-image: url('{{ post.cover }}');{% endif %}">
              <div class="filter {{site.css}}"></div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">{{ post.title }}</div>
              <p>{{ post.date | date: "%b %-d, %Y" }}</p><br/>
              {{ post.content | strip_html | truncatewords: 500}}
           </div>
           <div class="card-action {{ site.css }} darken-2">
              <button href="{{ post.url | prepend: site.baseurl }}" class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
              <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
            </div>
       </div>
       </div>
       {% endfor %}
       

       <div class="scroll-1 blog">
       <div class="container-fluid card {{ site.css }} z-depth-2 waves-effect waves-light">
          <div class="cover z-depth-1" style="">
              <div class="filter {{site.css}}">
                  <div class="cover-text {{ site.css }}-text text-darken-4">
                            footer
                    </div>
              </div>
          </div>
           <div class="card-content white-text">
              <div class="card-title">About Me</div>
              <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Morbi congue eros id nisl sagittis accumsan. Nam nec odio dolor.

           </div>
           <div class="card-action {{ site.css }} darken-2">
               <span class="pagin-btns">
                <button class="{{ site.css }} disabled darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Prev</button>
                <button class="{{ site.css }} disabled lighten-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>1</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>2</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>3</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>4</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>5</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>6</button>
                <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Next</button>
               </span>
            </div>
       </div>
       </div>


      <!--<a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="{{ site.css }} darken-1 waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Subscribe to RSS Feed</a>-->

</div>
