<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a internal href="/" class="brand-logo"><i class="mdi-communication-chat"></i> naveenshaji</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a internal href="/">Docs</a> 
                    </li>
                    <li><a internal href="/blog/">Blog</a>
                    </li>
                    <li><a internal href="/about/">About</a>
                    </li>
                    <li><a href="http://github.com/naveenshaji/" target="_blank">GitHub</a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>