---
 layout: default 
---
<div id="skrollr-body">
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
        {{ content }}
    </article>
    <br/><hr/><br/>
    <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-cyan waves-light btn" href="/">Share</button>
    <button class="{{ site.css }} darken-2 white-text text-darken-3 waves-effect waves-cyan waves-light btn" href="/">Back Home</button>
    <br/>&nbsp;
</div>
</div>
